/* src/App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 2%;
}

.app {
  text-align: center;
}

.navbar {
  background-color: #333;
  padding: 15px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar li {
  display: inline;
  margin: 0 15px;
  color: white;
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.3s;
}

.navbar li:hover {
  background-color: #575757;
  border-radius: 4px;
}

.navbar li.active {
  border-bottom: 2px solid #fff;
}

.content {
  padding: 20px;
  background-color: white;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact a {
  color: #007bff;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

h2 {
  color: #333;
}

p {
  color: #555;
}


.contact{
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}